.profile_form-content {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
}

.profile_form-heading {
    margin-bottom: 20px;
    text-align: center;
}

.form {
    margin: 0 auto;
    width: 50%;
    text-align: center;
}

.form-group {
    margin-bottom: 5px;
}

.form_input input {
    padding: 10px;
    width: 100%;
    height: 40px;
    border: 1px solid #000;
    border-radius: 3px;

    appearance: none;
}

.form_group-title {
    text-align: left;
}

.form_error {
    height: 20px;
    color: #ff0000;
    text-align: center;
}

.form_button {
    margin-top: 20px;
}

.form_button-submit {
    padding: 10px;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 3px;
    color: #fff;
    background: #ff0000;
    cursor: pointer;
}

