.sell_form-content {
    margin: 0 auto;
    padding: 20px 15px;
    text-align:center;
    align-items: center;
    max-width: 1230px;
}

.sell_form-heading {
    margin-bottom: 20px;
    text-align: center;
}

.form {
    margin: 0 auto;
    width: 50%;
    text-align: center;
}

.form_container {
    margin: 10px;
    border-bottom: 1px solid #000;
}

.form_group {
    margin: 5px;
}

.form_group-title {
    text-align: left;
}

.form_group-content input,
.form_group-content textarea{
    padding: 10px;
    width: 100%;
    height: 40px;
    border: 1px solid #000;
    border-radius: 3px;
    
    appearance: none;
}
.form_group-content input {
    height: 40px;
}

.form_group-content textarea {
    height: 120px;
}

.form_error {
    height: 20px;
    color: #ff0000;
    text-align: center;
}

.form_button {
    margin-top: 20px;
}

.form_button-submit {
    padding: 10px;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 3px;
    background: #ff0000;
    color: #fff;
    cursor: pointer;
}
